# Environment & secrets
.env
clearml.conf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Data & outputs (too large for GitHub)
data/raw/
outputs/

# Models cache
.cache/
models/

# SageMaker
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db